.about-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $color-black;
  padding-bottom: -10px;

  .about-content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 75%;
      width: 100px;
      background: $color-white;
      opacity: 0.05;
    }

    p {
      margin: 1rem 0;

      @include mediaMd {
        margin: 1.8rem 0;
      }
    }

    @include mediaMd {
      width: 70%;
    }

    @include mediaXlg {
      width: 50%;
    }
  }
}
